.click-area {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.timer-background {
    width: 100%;
    background-color: gray;
    color: #FFF;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 30px;
    background-color: green;
}